<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="858383">  <td>18/05/15 15:57:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Web.BookingFlow(com.framework.inputs.CsvData)[pri:0, instance:com.jazeera.testscripts.Web@769a1df5]">BookingFlow</td> 
  <td>main@40170008</td>   <td></td> </tr>
<tr bgcolor="858383">  <td>18/05/15 15:57:09</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Web.BookingFlow(com.framework.inputs.CsvData)[pri:0, instance:com.jazeera.testscripts.Web@769a1df5]">BookingFlow</td> 
  <td>main@40170008</td>   <td></td> </tr>
<tr bgcolor="858383">  <td>18/05/15 15:57:09</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Web.BookingFlow(com.framework.inputs.CsvData)[pri:0, instance:com.jazeera.testscripts.Web@769a1df5]">BookingFlow</td> 
  <td>main@40170008</td>   <td></td> </tr>
<tr bgcolor="858383">  <td>18/05/15 15:57:09</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Web.BookingFlow(com.framework.inputs.CsvData)[pri:0, instance:com.jazeera.testscripts.Web@769a1df5]">BookingFlow</td> 
  <td>main@40170008</td>   <td></td> </tr>
<tr bgcolor="858383">  <td>18/05/15 15:57:09</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Web.BookingFlow(com.framework.inputs.CsvData)[pri:0, instance:com.jazeera.testscripts.Web@769a1df5]">BookingFlow</td> 
  <td>main@40170008</td>   <td></td> </tr>
<tr bgcolor="858383">  <td>18/05/15 15:57:09</td>   <td>60</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Web.BookingFlow(com.framework.inputs.CsvData)[pri:0, instance:com.jazeera.testscripts.Web@769a1df5]">BookingFlow</td> 
  <td>main@40170008</td>   <td></td> </tr>
<tr bgcolor="858383">  <td>18/05/15 15:57:09</td>   <td>71</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Web.BookingFlow(com.framework.inputs.CsvData)[pri:0, instance:com.jazeera.testscripts.Web@769a1df5]">BookingFlow</td> 
  <td>main@40170008</td>   <td></td> </tr>
<tr bgcolor="858383">  <td>18/05/15 15:57:09</td>   <td>88</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Web.BookingFlow(com.framework.inputs.CsvData)[pri:0, instance:com.jazeera.testscripts.Web@769a1df5]">BookingFlow</td> 
  <td>main@40170008</td>   <td></td> </tr>
<tr bgcolor="858383">  <td>18/05/15 15:57:09</td>   <td>97</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Web.BookingFlow(com.framework.inputs.CsvData)[pri:0, instance:com.jazeera.testscripts.Web@769a1df5]">BookingFlow</td> 
  <td>main@40170008</td>   <td></td> </tr>
<tr bgcolor="8bceaf">  <td>18/05/15 15:57:07</td>   <td>-1454</td> <td title="&gt;&gt;BrowserSelection.setup()[pri:0, instance:com.jazeera.testscripts.Web@769a1df5]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@40170008</td>   <td></td> </tr>
<tr bgcolor="858383">  <td>18/05/15 15:57:07</td>   <td>-1441</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Web.setupFile()[pri:0, instance:com.jazeera.testscripts.Web@769a1df5]">&gt;&gt;setupFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@40170008</td>   <td></td> </tr>
</table>
