<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="778a76">  <td>18/05/10 15:24:45</td>   <td>0</td> <td title="&gt;&gt;BrowserSelection.setup()[pri:0, instance:com.jazeera.testscripts.Agency@350aac89]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1810458830</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>18/05/10 15:24:45</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Agency.setupFile()[pri:0, instance:com.jazeera.testscripts.Agency@350aac89]">&gt;&gt;setupFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1804376132</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>18/05/10 15:24:47</td>   <td>1364</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Agency.saveExtent()[pri:0, instance:com.jazeera.testscripts.Agency@350aac89]">&lt;&lt;saveExtent</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1804376132</td>   <td></td> </tr>
</table>
